<nav id="navbar-desktop" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <div id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/film'" >Films</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/form'">Nous contacter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Bienvenue</a>
          </li>
          <li lass="nav-item">
            <a class="nav-link" (click)="onClickLogout()">Se déconnecter</a>
          </li>
        </ul>
      </div>
      <!-- <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Fr
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">En</a></li>
              <li><a class="dropdown-item" href="#">Tr</a></li>
            </ul>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>
  
  
  
  <nav id="navbar-mobil" class="navbar navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4">
        <a class="nav-link" [routerLink]="'/film'" >Films</a>
        <a class="nav-link" [routerLink]="'/form'">Nous contacter</a>
        <a class="nav-link" (click)="onClickLogout()">Se déconnecter</a>

        <!-- <div class="lang">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Fr
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">En</a></li>
                <li><a class="dropdown-item" href="#">Tr</a></li>
              </ul>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </nav>