<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Update films</h3>
        </div>
        <div class="card-body">
            <form  [formGroup]="filmForm" (ngSubmit)='Update()'>
                <div class="form-g roup">
                    <label for="name">Name:</label>
                    <input type="text" id='name' class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="resume">Resume:</label>
                    <input type="text" id='resume' class="form-control" formControlName="resume">
                </div>
                <button  type="submit" class="btn btn-danger">Editer</button>
            </form>
        </div>
    </div>

</div>